:root {
    --main-color: white;
}

body {
    overflow: hidden;
    background-color: steelblue;
}

p {
    color: var(--main-color);
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: right;
    margin: 5px 50px 5px 10px;
}

#titlebox {
    font-size: 24px;
    font-weight: bolder;
    color: var(--main-color);
    margin: 10px;
}

#highscorebutton, #startbutton, #timerdisplay {
    background: none;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    width: 100px;
    border: solid 2px var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
}

#highscorebutton:hover, #startbutton:hover {
    font-weight: bold;
}

#timerdisplay {
    color: var(--main-color);
}

#maincontent {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#actionbox {
    width: 50%;
    padding: 10px;
}

#scoreform {
    margin: auto;
    color: var(--main-color);
}

#highscorelist {
    color: var(--main-color);
}



button {
    display: block;
    margin: 10px;
    text-align: center;
}